{% extends 'base.html.twig' %}

{% block title %}Hello MicroPostController!{% endblock %}

{% block body %}
    {% for messsage in app.flashes('success') %}
        <div class=" alert alert-success">  {{ messsage }}</div>
    {% endfor %}
    {% if usersToFollow|length > 0 %}

        <p>You currently do not follow anyone, you might find these users interesting: </p>
        <ul>

            {% for userToFollow in usersToFollow %}
                <li><a href="{{ path('following_follow', {'id': userToFollow.id}) }}">
                        @{{ userToFollow.username }}.</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h6 class="border-bottom border-gray pb-2 mb-0">Recent
            Updates {{ app.request.get('_route') == 'micro_post_by_user' ? " of #{ app.request.get('user').fullName}" }}</h6>
        {% for post in posts %}

            {{ include('micro_post/post.html.twig', {'post': post}) }}
        {% endfor %}
    {% endif %}
{% endblock %}
