{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ post.title }}</h1>
    {% set numberOfDays = "-9days" %}
    <h2>{{ post.date  | date_modify(numberOfDays)| date('Y M d') }}</h2>
    <h3>{{ '1000000.951521' | price_format }}</h3>
    <p>{{ post.body }}</p>
    <p>this video was posted in {{ locale }}</p>
    {{ custom_var }}
    <br>
    {# All of the variables are available in AppVariable class. #}
    App Debug : {{ app.debug }}

{% endblock %}